## 타이타닉 데이터 사용 예제

- target: Survived
- Passengerid, Name, Ticket, Cabin 컬럼 삭제
- NaN 데이터 삭제
- Sex, Embarked는 레이블 인코딩
- Age, Fare는 MinMaxScaler로 전처리

전체 독립변수를 사용했을때와 VIF 10 이상을 제거한 독립변수를 사용했을때의 OLS 결과 값을 구하시오. (summary 비교)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [2]:
df_train = pd.read_csv("../2_DataAnalysis/titanic/train.csv")
# df_test = pd.read_csv("../2_DataAnalysis/titanic/test.csv")

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

---

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [7]:
df_train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [21]:
nan = df_train.loc[df_train['Age'].isnull() == True]
nan

     Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked
5           0       3    male  NaN      0      0   8.4583        Q
17          1       2    male  NaN      0      0  13.0000        S
19          1       3  female  NaN      0      0   7.2250        C
26          0       3    male  NaN      0      0   7.2250        C
28          1       3  female  NaN      0      0   7.8792        Q
..        ...     ...     ...  ...    ...    ...      ...      ...
859         0       3    male  NaN      0      0   7.2292        C
863         0       3  female  NaN      8      2  69.5500        S
868         0       3    male  NaN      0      0   9.5000        S
878         0       3    male  NaN      0      0   7.8958        S
888         0       3  female  NaN      1      2  23.4500        S

[177 rows x 8 columns]

In [28]:
nan.index

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [30]:
df_train.drop(nan.index, axis=0, inplace=True)
df_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [31]:
nan2 = df_train.loc[df_train['Embarked'].isnull() == True]
nan2

     Survived  Pclass     Sex   Age  SibSp  Parch  Fare Embarked
61          1       1  female  38.0      0      0  80.0      NaN
829         1       1  female  62.0      0      0  80.0      NaN

In [ ]:
df_train.drop(nan2.index, axis=0, inplace=True)

In [34]:
df_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

---

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [35]:
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [39]:
le.fit(df_train['Sex'])
sex_encoder = le.transform(df_train['Sex'])
sex_encoder

array([1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1])

In [40]:
df_train['Sex'] = sex_encoder
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    1  22.0      1      0   7.2500        S
1         1       1    0  38.0      1      0  71.2833        C
2         1       3    0  26.0      0      0   7.9250        S
3         1       1    0  35.0      1      0  53.1000        S
4         0       3    1  35.0      0      0   8.0500        S

In [41]:
le.fit(df_train['Embarked'])
embarked_encoder = le.transform(df_train['Embarked'])
embarked_encoder

array([2, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2,
       2, 2, 0, 2, 0, 2, 2, 2, 0, 2, 2, 0, 1, 2, 2, 2, 0, 2, 0, 2, 0, 2,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       0, 2, 1, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       2, 2, 1, 2, 1, 2, 2, 2, 0, 2, 2, 2, 1, 2, 0, 0, 2, 2, 0, 2, 0, 2,
       2, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 0, 2, 2, 2,
       0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 0, 0, 2, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2,
       2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2,
       2, 2, 1, 2, 2, 0, 2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2,
       2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0,
       2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2,
       0, 2, 0, 0, 2, 0, 2, 2, 2, 1, 2, 1, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2,
       2, 2, 0, 2, 0, 2, 0, 1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 2, 0, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2,
       2, 2, 2, 1, 2, 2, 0, 1])

In [43]:
df_train['Embarked'] = embarked_encoder
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

---

In [44]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()

In [48]:
df_train['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 712, dtype: float64

In [94]:
age_scaled2 = sc.fit_transform(df_train[['Age']])
age_scaled2

array([[0.27117366],
       [0.4722292 ],
       [0.32143755],
       [0.43453129],
       [0.43453129],
       [0.67328474],
       [0.01985423],
       [0.33400352],
       [0.17064589],
       [0.04498618],
       [0.72354863],
       [0.24604172],
       [0.48479517],
       [0.17064589],
       [0.68585072],
       [0.01985423],
       [0.3842674 ],
       [0.43453129],
       [0.42196532],
       [0.18321186],
       [0.34656949],
       [0.09525006],
       [0.4722292 ],
       [0.23347575],
       [0.49736115],
       [0.8240764 ],
       [0.34656949],
       [0.52249309],
       [0.25860769],
       [0.22090978],
       [0.17064589],
       [0.49736115],
       [0.33400352],
       [0.03242021],
       [0.23347575],
       [0.22090978],
       [0.08268409],
       [0.25860769],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.25860769],
       [0.35285248],
       [0.05755215],
       [0.13294798],
       [0.27117366],
       [0.560191  ],
       [0.04498618],
       [0.35913546],
       [0.23347575],
       [0.2083438 ],
       [0.32143755],
       [0.39683338],
       [0.19577783],
       [0.25860769],
       [0.32143755],
       [0.39683338],
       [0.30887158],
       [0.00515205],
       [0.37170143],
       [0.27117366],
       [0.35913546],
       [0.34656949],
       [0.2083438 ],
       [0.40939935],
       [0.19577783],
       [0.28373963],
       [0.2963056 ],
       [0.35913546],
       [0.24604172],
       [0.57275697],
       [0.32143755],
       [0.7361146 ],
       [0.88690626],
       [0.28373963],
       [0.42196532],
       [0.42196532],
       [0.34656949],
       [0.25860769],
       [0.40939935],
       [0.45966323],
       [0.34656949],
       [0.25860769],
       [0.4722292 ],
       [0.58532295],
       [0.17692888],
       [0.27117366],
       [0.24604172],
       [0.2083438 ],
       [0.25860769],
       [0.88062327],
       [0.35913546],
       [0.2963056 ],
       [0.01985423],
       [0.25860769],
       [0.40311636],
       [0.40311636],
       [0.67328474],
       [0.14551395],
       [0.2963056 ],
       [0.560191  ],
       [0.40939935],
       [0.24604172],
       [0.58532295],
       [0.35913546],
       [0.30887158],
       [0.28373963],
       [0.23347575],
       [0.45966323],
       [0.19577783],
       [0.2963056 ],
       [0.27117366],
       [0.2963056 ],
       [0.23347575],
       [0.22090978],
       [0.23347575],
       [0.33400352],
       [0.10781603],
       [0.45338025],
       [0.52249309],
       [0.63558683],
       [0.27117366],
       [0.6921337 ],
       [0.50364413],
       [0.63558683],
       [0.19577783],
       [0.37170143],
       [0.54762503],
       [0.49736115],
       [0.32143755],
       [0.2083438 ],
       [0.00728826],
       [0.10781603],
       [0.560191  ],
       [0.34656949],
       [0.76124654],
       [0.04498618],
       [0.00728826],
       [0.25860769],
       [0.69841669],
       [0.22090978],
       [0.62302086],
       [0.37170143],
       [0.44709726],
       [0.10781603],
       [0.00728826],
       [0.04498618],
       [0.560191  ],
       [0.49736115],
       [0.44709726],
       [0.39683338],
       [0.23347575],
       [0.23347575],
       [0.03242021],
       [0.54762503],
       [0.72354863],
       [0.52249309],
       [0.2963056 ],
       [0.34656949],
       [0.42196532],
       [0.56647399],
       [0.22090978],
       [0.01985423],
       [0.39683338],
       [0.32143755],
       [0.19577783],
       [0.49736115],
       [0.2963056 ],
       [0.43453129],
       [0.27117366],
       [0.37170143],
       [0.3842674 ],
       [0.33400352],
       [0.52249309],
       [0.39683338],
       [0.37170143],
       [0.19577783],
       [0.33400352],
       [0.63558683],
       [0.4722292 ],
       [0.27117366],
       [0.23347575],
       [0.2523247 ],
       [0.22090978],
       [0.43453129],
       [0.35913546],
       [0.7361146 ],
       [0.05755215],
       [0.2963056 ],
       [0.54762503],
       [0.09525006],
       [0.23347575],
       [0.40939935],
       [0.35913546],
       [0.27117366],
       [0.37170143],
       [0.54762503],
       [0.30887158],
       [0.2963056 ],
       [0.45966323],
       [0.67328474],
       [0.35913546],
       [0.77381252],
       [0.37170143],
       [0.50992712],
       [0.35913546],
       [0.37170143],
       [0.43453129],
       [0.62302086],
       [0.03242021],
       [0.6481528 ],
       [0.49736115],
       [0.44709726],
       [0.19577783],
       [0.30887158],
       [0.72354863],
       [0.43453129],
       [0.30887158],
       [0.50992712],
       [0.45966323],
       [0.78637849],
       [0.560191  ],
       [0.08268409],
       [0.43453129],
       [0.81151043],
       [0.34656949],
       [0.19577783],
       [0.23347575],
       [0.40939935],
       [0.37170143],
       [0.27117366],
       [0.52249309],
       [0.27117366],
       [0.32143755],
       [0.23347575],
       [0.44709726],
       [0.2963056 ],
       [0.2963056 ],
       [0.29002262],
       [0.01985423],
       [0.62302086],
       [0.23347575],
       [0.00628299],
       [0.2083438 ],
       [0.37170143],
       [0.37170143],
       [0.2963056 ],
       [0.22090978],
       [0.32143755],
       [0.34656949],
       [0.53505906],
       [0.32143755],
       [0.2963056 ],
       [0.67328474],
       [0.3842674 ],
       [0.49736115],
       [0.27117366],
       [0.33400352],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.76124654],
       [0.44709726],
       [0.3842674 ],
       [0.19577783],
       [0.56647399],
       [0.4722292 ],
       [0.19577783],
       [0.35913546],
       [0.50992712],
       [0.560191  ],
       [0.560191  ],
       [0.01985423],
       [0.2963056 ],
       [0.34656949],
       [0.30887158],
       [0.44709726],
       [0.2963056 ],
       [0.49736115],
       [0.03242021],
       [0.52249309],
       [0.28373963],
       [0.18321186],
       [0.30887158],
       [0.34656949],
       [0.27117366],
       [0.4722292 ],
       [0.49736115],
       [0.35913546],
       [0.560191  ],
       [0.43453129],
       [0.37170143],
       [0.74868057],
       [0.2963056 ],
       [0.30887158],
       [0.22090978],
       [0.23347575],
       [0.27117366],
       [0.03242021],
       [0.27117366],
       [0.33400352],
       [0.24604172],
       [0.23347575],
       [0.52249309],
       [0.00728826],
       [0.39683338],
       [0.43453129],
       [0.22090978],
       [0.00728826],
       [0.44709726],
       [0.2083438 ],
       [0.44709726],
       [0.25860769],
       [0.34656949],
       [0.28373963],
       [0.2963056 ],
       [0.27117366],
       [0.3842674 ],
       [0.57275697],
       [0.28373963],
       [0.34656949],
       [0.48479517],
       [0.32143755],
       [0.25860769],
       [0.34656949],
       [0.24604172],
       [0.42196532],
       [0.63558683],
       [0.03242021],
       [0.25860769],
       [0.40939935],
       [0.54762503],
       [0.42196532],
       [0.22090978],
       [0.37170143],
       [0.12038201],
       [0.25860769],
       [0.35913546],
       [0.34656949],
       [0.22090978],
       [0.34656949],
       [0.23347575],
       [0.39683338],
       [0.34656949],
       [0.52249309],
       [0.2083438 ],
       [0.62302086],
       [0.17064589],
       [0.25860769],
       [0.2963056 ],
       [0.79894446],
       [0.3842674 ],
       [0.560191  ],
       [0.24604172],
       [0.30887158],
       [0.34656949],
       [0.04498618],
       [0.15807992],
       [0.42196532],
       [0.05755215],
       [0.6481528 ],
       [0.44709726],
       [0.37170143],
       [0.61045489],
       [0.35913546],
       [0.81151043],
       [0.62302086],
       [0.59788892],
       [0.42196532],
       [0.58532295],
       [0.59788892],
       [0.4722292 ],
       [0.69841669],
       [0.00414677],
       [0.4722292 ],
       [0.40939935],
       [0.28373963],
       [0.27117366],
       [0.42196532],
       [0.35913546],
       [0.27117366],
       [0.01985423],
       [0.10781603],
       [0.62302086],
       [0.78637849],
       [0.30887158],
       [0.43453129],
       [0.72354863],
       [0.37170143],
       [0.10781603],
       [0.25860769],
       [0.68585072],
       [0.88690626],
       [0.25860769],
       [0.67328474],
       [0.30887158],
       [0.2963056 ],
       [0.2083438 ],
       [0.25860769],
       [0.45966323],
       [0.19577783],
       [0.22090978],
       [0.40939935],
       [0.34656949],
       [0.32143755],
       [0.35913546],
       [0.44709726],
       [0.67328474],
       [0.2963056 ],
       [0.58532295],
       [0.42196532],
       [0.44709726],
       [0.39683338],
       [0.37170143],
       [0.27117366],
       [0.54762503],
       [0.50364413],
       [0.62302086],
       [0.48479517],
       [0.28373963],
       [0.01985423],
       [0.2083438 ],
       [0.37170143],
       [0.08268409],
       [0.560191  ],
       [0.37170143],
       [0.27117366],
       [0.44709726],
       [0.10781603],
       [0.13294798],
       [0.39683338],
       [0.62302086],
       [0.79894446],
       [0.23347575],
       [0.40939935],
       [0.09525006],
       [0.2083438 ],
       [0.33400352],
       [0.27117366],
       [0.27117366],
       [0.77381252],
       [0.59788892],
       [0.48479517],
       [0.44709726],
       [0.49736115],
       [0.34656949],
       [0.2963056 ],
       [0.23347575],
       [0.35913546],
       [0.39683338],
       [0.77381252],
       [0.66071877],
       [0.44709726],
       [0.19577783],
       [0.23347575],
       [0.42196532],
       [0.48479517],
       [0.39683338],
       [0.30887158],
       [0.48479517],
       [0.67328474],
       [0.44709726],
       [0.22090978],
       [0.58532295],
       [0.74868057],
       [0.27117366],
       [0.43453129],
       [0.6481528 ],
       [0.58532295],
       [0.45966323],
       [0.44709726],
       [0.61045489],
       [0.61045489],
       [0.2963056 ],
       [0.54762503],
       [0.43453129],
       [0.44709726],
       [0.37170143],
       [0.33400352],
       [0.27117366],
       [0.49736115],
       [0.48479517],
       [0.43453129],
       [0.2963056 ],
       [0.42196532],
       [0.32143755],
       [0.04498618],
       [0.32143755],
       [0.33400352],
       [0.52249309],
       [0.24604172],
       [0.25860769],
       [0.25860769],
       [0.76124654],
       [0.71098266],
       [0.25860769],
       [0.32143755],
       [1.        ],
       [0.63558683],
       [0.39683338],
       [0.10781603],
       [0.34656949],
       [0.39683338],
       [0.3842674 ],
       [0.50992712],
       [0.24604172],
       [0.2963056 ],
       [0.01985423],
       [0.00414677],
       [0.59788892],
       [0.23347575],
       [0.69841669],
       [0.28373963],
       [0.22090978],
       [0.25860769],
       [0.22090978],
       [0.2963056 ],
       [0.39683338],
       [0.28373963],
       [0.72354863],
       [0.62302086],
       [0.49736115],
       [0.58532295],
       [0.44709726],
       [0.24604172],
       [0.39683338],
       [0.30887158],
       [0.53505906],
       [0.49736115],
       [0.3842674 ],
       [0.87434029],
       [0.3842674 ],
       [0.22090978],
       [0.30258859],
       [0.22090978],
       [0.53505906],
       [0.44709726],
       [0.33400352],
       [0.24604172],
       [0.17064589],
       [0.74868057],
       [0.30887158],
       [0.17064589],
       [0.23347575],
       [0.22090978],
       [0.18321186],
       [0.3842674 ],
       [0.04498618],
       [0.30887158],
       [0.74868057],
       [0.6481528 ],
       [0.54762503],
       [0.61045489],
       [0.52249309],
       [0.22090978],
       [0.43453129],
       [0.22090978],
       [0.30887158],
       [0.32143755],
       [0.48479517],
       [0.560191  ],
       [0.52249309],
       [0.27117366],
       [0.2963056 ],
       [0.59788892],
       [0.35913546],
       [0.6481528 ],
       [0.23347575],
       [0.4722292 ],
       [0.33400352],
       [0.40939935],
       [0.07011812],
       [0.2083438 ],
       [0.42196532],
       [0.62302086],
       [0.33400352],
       [0.24604172],
       [0.37170143],
       [0.30887158],
       [0.30887158],
       [0.35913546],
       [0.13294798],
       [0.28373963],
       [0.28373963],
       [0.35285248],
       [0.59788892],
       [0.43453129],
       [0.44709726],
       [0.25860769],
       [0.2963056 ],
       [0.3842674 ],
       [0.87434029],
       [0.19577783],
       [0.37170143],
       [0.23347575],
       [0.3842674 ],
       [0.04498618],
       [0.07011812],
       [0.40939935],
       [0.28373963],
       [0.59788892],
       [0.00314149],
       [0.34656949],
       [0.22090978],
       [0.42196532],
       [0.40939935],
       [0.50992712],
       [0.24604172],
       [0.44709726],
       [0.19577783],
       [0.63558683],
       [0.37798442],
       [0.39683338],
       [0.2963056 ],
       [0.59788892],
       [0.71098266],
       [0.67328474],
       [0.22090978],
       [0.05755215],
       [0.53505906],
       [0.15807992],
       [0.2083438 ],
       [0.35913546],
       [0.30887158],
       [0.30887158],
       [0.22090978],
       [0.09525006],
       [0.00728826],
       [0.57275697],
       [0.19577783],
       [0.30887158],
       [0.48479517],
       [0.61045489],
       [0.3842674 ],
       [0.37170143],
       [0.37170143],
       [0.42196532],
       [0.3842674 ],
       [0.13294798],
       [0.        ],
       [0.33400352],
       [0.3842674 ],
       [0.48479517],
       [0.22090978],
       [0.48479517],
       [0.40939935],
       [0.32143755],
       [0.48479517],
       [0.43453129],
       [0.07011812],
       [0.37798442],
       [0.28373963],
       [0.3842674 ],
       [0.53505906],
       [0.12038201],
       [0.6481528 ],
       [0.33400352],
       [0.4722292 ],
       [0.33400352],
       [0.01985423],
       [0.00728826],
       [0.18321186],
       [0.00515205],
       [0.28373963],
       [0.22090978],
       [0.48479517],
       [0.25860769],
       [0.39683338],
       [0.24604172],
       [0.19577783],
       [0.37170143],
       [0.4282483 ],
       [0.2083438 ],
       [0.52249309],
       [0.43453129],
       [0.34656949],
       [0.04498618],
       [0.92460417],
       [0.10781603],
       [0.19577783],
       [0.54762503],
       [0.22090978],
       [0.560191  ],
       [0.63558683],
       [0.2963056 ],
       [0.50992712],
       [0.25860769],
       [0.59788892],
       [0.2963056 ],
       [0.52249309],
       [0.33400352],
       [0.3842674 ],
       [0.04498618],
       [0.32143755],
       [0.58532295],
       [0.40939935],
       [0.58532295],
       [0.34656949],
       [0.18321186],
       [0.24604172],
       [0.23347575],
       [0.69841669],
       [0.30887158],
       [0.40939935],
       [0.27117366],
       [0.34656949],
       [0.30887158],
       [0.48479517],
       [0.33400352],
       [0.23347575],
       [0.32143755],
       [0.39683338]])

In [96]:
df_train['Age'] = age_scaled2
df_train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0       3    1  0.271174      1      0  0.014151         2
1         1       1    0  0.472229      1      0  0.139136         0
2         1       3    0  0.321438      0      0  0.015469         2
3         1       1    0  0.434531      1      0  0.103644         2
4         0       3    1  0.434531      0      0  0.015713         2

In [97]:
fare_scaled2 = sc.fit_transform(df_train[['Fare']])
fare_scaled2

array([[0.01415106],
       [0.13913574],
       [0.01546857],
       [0.1036443 ],
       [0.01571255],
       [0.10122886],
       [0.04113566],
       [0.02173075],
       [0.05869429],
       [0.03259623],
       [0.05182215],
       [0.01571255],
       [0.06104473],
       [0.01533038],
       [0.03122992],
       [0.05684821],
       [0.03513366],
       [0.05074862],
       [0.02537431],
       [0.01567195],
       [0.06929139],
       [0.04113566],
       [0.06126432],
       [0.51334181],
       [0.0541074 ],
       [0.02049464],
       [0.16038672],
       [0.10149724],
       [0.01571255],
       [0.03513366],
       [0.02194234],
       [0.01849397],
       [0.04098927],
       [0.08115719],
       [0.01537917],
       [0.03474329],
       [0.07746484],
       [0.01522459],
       [0.14976542],
       [0.05074862],
       [0.12097534],
       [0.02049464],
       [0.01411046],
       [0.05416439],
       [0.0915427 ],
       [0.01411046],
       [0.16293235],
       [0.05445717],
       [0.02049464],
       [0.01592394],
       [0.01546857],
       [0.01690807],
       [0.02049464],
       [0.0915427 ],
       [0.14346245],
       [0.02821272],
       [0.11027246],
       [0.01493181],
       [0.05660423],
       [0.02434958],
       [0.01756683],
       [0.01854277],
       [0.09193308],
       [0.02049464],
       [0.03093714],
       [0.06709553],
       [0.51334181],
       [0.01571255],
       [0.01571255],
       [0.01533038],
       [0.11940565],
       [0.04015973],
       [0.01415106],
       [0.06764049],
       [0.12366717],
       [0.04489301],
       [0.05074862],
       [0.01541158],
       [0.15085515],
       [0.01689187],
       [0.01546857],
       [0.01541158],
       [0.01493181],
       [0.01541158],
       [0.10149724],
       [0.02821272],
       [0.01571255],
       [0.01917712],
       [0.02822072],
       [0.01546857],
       [0.01512699],
       [0.04098927],
       [0.48312843],
       [0.06104473],
       [0.14346245],
       [0.05869429],
       [0.02537431],
       [0.15085515],
       [0.02194234],
       [0.01393967],
       [0.01361429],
       [0.01541158],
       [0.01376068],
       [0.02830212],
       [0.05074862],
       [0.02537431],
       [0.02936745],
       [0.05130158],
       [0.1036443 ],
       [0.0179898 ],
       [0.1545881 ],
       [0.01512699],
       [0.03093714],
       [0.01317512],
       [0.02244651],
       [0.07173122],
       [0.01521639],
       [0.06709553],
       [0.05074862],
       [0.02537431],
       [0.02444717],
       [0.12999454],
       [0.01571255],
       [0.02830212],
       [0.11980422],
       [0.0150944 ],
       [0.01571255],
       [0.03142511],
       [0.03074195],
       [0.01517579],
       [0.01690807],
       [0.07746484],
       [0.04006213],
       [0.05445717],
       [0.11027246],
       [0.06538765],
       [0.05684821],
       [0.02173075],
       [0.01546857],
       [0.05991421],
       [0.01533038],
       [0.05604307],
       [0.02537431],
       [0.        ],
       [0.06126432],
       [0.07612293],
       [0.04298994],
       [0.05182215],
       [0.03025399],
       [0.01541158],
       [0.02537431],
       [0.02537431],
       [0.01533038],
       [0.05074862],
       [0.0541074 ],
       [0.28598956],
       [0.01640391],
       [0.02537431],
       [0.01854277],
       [0.01267896],
       [0.01410226],
       [0.01571255],
       [0.02042144],
       [0.03093714],
       [0.03667076],
       [0.01512699],
       [0.06050797],
       [0.01376068],
       [0.04098927],
       [0.01415106],
       [0.02537431],
       [0.22109808],
       [0.01546857],
       [0.05270049],
       [0.14891148],
       [0.02049464],
       [0.01571255],
       [0.02537431],
       [0.01571255],
       [0.1756683 ],
       [0.01824998],
       [0.02049464],
       [0.01415106],
       [0.02537431],
       [0.16293235],
       [0.01517579],
       [0.02635025],
       [0.06126432],
       [0.02049464],
       [0.05074862],
       [0.05123659],
       [0.02049464],
       [0.0239592 ],
       [0.02049464],
       [0.01390707],
       [0.01410226],
       [0.1756683 ],
       [0.01517579],
       [0.02830212],
       [0.10257897],
       [0.05074862],
       [0.02042144],
       [0.05182215],
       [0.03142511],
       [0.03945217],
       [0.02975782],
       [0.16883676],
       [1.        ],
       [0.05074862],
       [0.06126432],
       [0.15546645],
       [0.        ],
       [0.02049464],
       [0.07746484],
       [0.01517579],
       [0.29953885],
       [0.26473857],
       [0.        ],
       [0.03806147],
       [0.05797054],
       [0.15216447],
       [0.01512699],
       [0.05684821],
       [0.03952537],
       [0.01512699],
       [0.01533038],
       [0.01854277],
       [0.01571255],
       [0.01690807],
       [0.01854277],
       [0.01541158],
       [0.02537431],
       [0.01512699],
       [0.15390495],
       [0.17777476],
       [0.02513033],
       [0.01727405],
       [0.01541158],
       [0.01411046],
       [0.2958059 ],
       [0.48312843],
       [0.        ],
       [0.2958059 ],
       [0.21255864],
       [0.04684488],
       [0.1111184 ],
       [0.16231419],
       [0.51212189],
       [0.05074862],
       [0.01541158],
       [0.05123659],
       [0.01533038],
       [0.05074862],
       [0.02732618],
       [0.32179837],
       [0.26252652],
       [0.01415106],
       [0.01541158],
       [0.02410559],
       [0.05660423],
       [0.26473857],
       [0.01217479],
       [0.02537431],
       [0.04006213],
       [0.11316786],
       [0.0556283 ],
       [0.29953885],
       [0.03513366],
       [0.12999454],
       [0.26252652],
       [0.01571255],
       [0.06929139],
       [0.05074862],
       [0.51334181],
       [0.02537431],
       [0.02537431],
       [0.02537431],
       [0.02537431],
       [0.02537431],
       [0.03103473],
       [0.01690807],
       [0.018006  ],
       [0.01411046],
       [0.03474329],
       [0.01854277],
       [0.10735285],
       [0.02537431],
       [0.05445717],
       [0.0541074 ],
       [0.02821272],
       [0.01376068],
       [0.01415106],
       [0.14687822],
       [0.13526459],
       [0.10821499],
       [0.01267896],
       [0.01571255],
       [0.26473857],
       [0.04113566],
       [0.01415106],
       [0.41282051],
       [0.00783188],
       [0.01517579],
       [0.44409922],
       [0.03072575],
       [0.01546857],
       [0.10149724],
       [0.14346245],
       [0.0915427 ],
       [0.02537431],
       [0.02342244],
       [0.2342244 ],
       [0.01521639],
       [0.01546857],
       [0.22109808],
       [0.03259623],
       [0.01521639],
       [0.01533038],
       [0.05074862],
       [0.02049464],
       [0.02469116],
       [0.01546857],
       [0.01571255],
       [0.01917712],
       [0.03093714],
       [0.01690807],
       [0.04098927],
       [0.01512699],
       [0.03659756],
       [0.01517579],
       [0.1756683 ],
       [0.01546857],
       [0.06343578],
       [0.02537431],
       [0.02537431],
       [0.04713766],
       [0.0150944 ],
       [0.01537098],
       [0.02810693],
       [0.03945217],
       [0.05074862],
       [0.05074862],
       [0.01571255],
       [0.05182215],
       [0.05074862],
       [0.01390707],
       [0.10910953],
       [0.2342244 ],
       [0.06709553],
       [0.03659756],
       [0.51334181],
       [0.02049464],
       [0.05123659],
       [0.01854277],
       [0.01517579],
       [0.02537431],
       [0.15977676],
       [0.03806147],
       [0.05182215],
       [0.0375897 ],
       [0.05953204],
       [0.05416439],
       [0.05416439],
       [0.17391982],
       [0.01541158],
       [0.05182215],
       [0.02049464],
       [0.05182215],
       [0.01571255],
       [0.075147  ],
       [0.02537431],
       [0.01376068],
       [0.05182215],
       [0.0375897 ],
       [0.01690807],
       [0.05416439],
       [0.02691961],
       [0.01920152],
       [0.04098927],
       [0.01375249],
       [0.01467962],
       [0.0239836 ],
       [0.0915427 ],
       [0.01571255],
       [0.01871355],
       [0.17777476],
       [0.1756683 ],
       [0.05797054],
       [0.01571255],
       [0.03103473],
       [0.01415106],
       [0.05953204],
       [0.09662576],
       [0.01571255],
       [0.15276642],
       [0.2958059 ],
       [0.01521639],
       [0.01690807],
       [0.01512699],
       [0.01871355],
       [0.16883676],
       [0.21255864],
       [0.05074862],
       [0.04396587],
       [0.11027246],
       [0.01512699],
       [0.05130978],
       [0.11594108],
       [0.01463083],
       [0.06640418],
       [0.02049464],
       [0.05074862],
       [0.01541158],
       [0.18249985],
       [0.01541158],
       [0.11316786],
       [0.01512699],
       [0.02049464],
       [0.01546857],
       [0.02244651],
       [0.05074862],
       [0.01411046],
       [0.01690807],
       [0.05123659],
       [0.05182215],
       [0.20772777],
       [0.09661757],
       [0.13858277],
       [0.06104473],
       [0.06104473],
       [0.05074862],
       [0.20772777],
       [0.05074862],
       [0.05074862],
       [0.04006213],
       [0.07173122],
       [0.21642979],
       [0.05074862],
       [0.01410226],
       [0.01517579],
       [0.05182215],
       [0.07729405],
       [0.15546645],
       [0.03396254],
       [0.01541158],
       [0.02635025],
       [0.04713766],
       [0.01541158],
       [0.04113566],
       [0.01533038],
       [0.02049464],
       [0.10048071],
       [0.05150497],
       [0.01571255],
       [0.02830212],
       [0.02537431],
       [0.10910953],
       [0.01546857],
       [0.0585561 ],
       [0.21642979],
       [0.05074862],
       [0.07831878],
       [0.15546645],
       [0.02927805],
       [0.1545881 ],
       [0.01571255],
       [0.01390707],
       [0.15276642],
       [0.01415106],
       [0.05074862],
       [0.04713766],
       [0.        ],
       [0.1111184 ],
       [0.05270049],
       [0.01571255],
       [0.05182215],
       [0.03035158],
       [0.01541158],
       [0.05953204],
       [0.08115719],
       [0.29953885],
       [0.06104473],
       [0.01571255],
       [0.12687155],
       [0.02810693],
       [0.03142511],
       [0.07612293],
       [0.02049464],
       [0.02821272],
       [0.10257897],
       [0.03072575],
       [0.01533038],
       [0.03142511],
       [0.063086  ],
       [0.02410559],
       [0.15216447],
       [0.01541158],
       [0.0585561 ],
       [0.01376888],
       [0.05953204],
       [0.05445717],
       [0.02537431],
       [0.01546857],
       [0.05123659],
       [0.07746484],
       [0.01533038],
       [0.13526459],
       [0.05445717],
       [0.0375897 ],
       [0.14976542],
       [0.01541158],
       [0.06929139],
       [0.01473662],
       [0.04489301],
       [0.01646071],
       [0.01317512],
       [0.14346245],
       [0.03025399],
       [0.02537431],
       [0.22109808],
       [0.26086743],
       [0.01410226],
       [0.04994347],
       [0.01463083],
       [0.01546857],
       [0.14346245],
       [0.02537431],
       [0.01571255],
       [0.07612293],
       [0.10149724],
       [0.02049464],
       [0.02537431],
       [0.01517579],
       [0.01571255],
       [0.01920972],
       [0.0915427 ],
       [1.        ],
       [0.14976542],
       [0.018006  ],
       [0.0915427 ],
       [0.07612293],
       [0.08115719],
       [0.07746484],
       [0.01985208],
       [0.01521639],
       [0.41250333],
       [0.11125659],
       [0.02618765],
       [0.01410226],
       [0.05182215],
       [0.02635025],
       [0.01571255],
       [0.21642979],
       [0.01493181],
       [0.44409922],
       [0.05130978],
       [0.02821272],
       [0.01511079],
       [0.01533038],
       [0.05074862],
       [0.02635025],
       [0.05130978],
       [0.2958059 ],
       [0.09662576],
       [0.10149724],
       [0.01851017],
       [0.02537431],
       [0.01493181],
       [0.44409922],
       [0.02049464],
       [0.01517579],
       [0.06441171],
       [0.01376888],
       [0.02537431],
       [0.02537431],
       [0.1036443 ],
       [0.01690807],
       [0.04098927],
       [0.05074862],
       [0.01546857],
       [0.41250333],
       [0.03667076],
       [0.02537431],
       [0.02537431],
       [0.03142511],
       [0.06709553],
       [1.        ],
       [0.15390495],
       [0.51212189],
       [0.03142511],
       [0.01546857],
       [0.13858277],
       [0.03952537],
       [0.02537431],
       [0.1036443 ],
       [0.01512699],
       [0.04489301],
       [0.02434958],
       [0.01854277],
       [0.01541158],
       [0.12687155],
       [0.02830212],
       [0.01521639],
       [0.02244651],
       [0.01571255],
       [0.16883676],
       [0.01390707],
       [0.01411046],
       [0.2342244 ],
       [0.01517579],
       [0.15216447],
       [0.01512699],
       [0.01632251],
       [0.01854277],
       [0.01533038],
       [0.02049464],
       [0.04489301],
       [0.01512699],
       [0.02434958],
       [0.41250333],
       [0.01411046],
       [0.11125659],
       [0.0585561 ],
       [0.01376068],
       [0.01415106],
       [0.01463083],
       [0.05684821],
       [0.04015973],
       [0.1545881 ],
       [0.05074862],
       [0.01541158],
       [0.02537431],
       [0.05061043],
       [0.01694867],
       [0.01411046],
       [0.04713766],
       [0.02537431],
       [0.05123659],
       [0.2342244 ],
       [0.01662349],
       [0.01361429],
       [0.01517579],
       [0.        ],
       [0.01517579],
       [0.02537431],
       [0.1036443 ],
       [0.01539537],
       [0.04713766],
       [0.02049464],
       [0.06104473],
       [0.01571255],
       [0.01546857],
       [0.07222739],
       [0.01258956],
       [0.05445717],
       [0.18249985],
       [0.01690807],
       [0.        ],
       [0.02434958],
       [0.07746484],
       [0.07222739],
       [0.02821272],
       [0.03659756],
       [0.01533038],
       [0.01620052],
       [0.16231419],
       [0.01690807],
       [0.11027246],
       [0.01546857],
       [0.02049464],
       [0.06050797],
       [0.01256516],
       [0.01690807],
       [0.01473662],
       [0.01541158],
       [0.06441171],
       [0.06104473],
       [0.01517579],
       [0.02975782],
       [0.07690368],
       [0.05074862],
       [0.01824998],
       [0.32179837],
       [0.05182215],
       [0.0375897 ],
       [0.02753757],
       [0.02244651],
       [0.05061043],
       [0.02537431],
       [0.02537431],
       [0.0270496 ],
       [0.09856124],
       [0.02173075],
       [0.01541158],
       [0.10257897],
       [0.00975935],
       [0.01756683],
       [0.04684488],
       [0.01410226],
       [0.01921772],
       [0.01541158],
       [0.16231419],
       [0.05074862],
       [0.01541158],
       [0.02052723],
       [0.02049464],
       [0.01376068],
       [0.05684821],
       [0.02537431],
       [0.0585561 ],
       [0.0585561 ],
       [0.01512699]])

In [99]:
df_train['Fare'] = fare_scaled2
df_train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0       3    1  0.271174      1      0  0.014151         2
1         1       1    0  0.472229      1      0  0.139136         0
2         1       3    0  0.321438      0      0  0.015469         2
3         1       1    0  0.434531      1      0  0.103644         2
4         0       3    1  0.434531      0      0  0.015713         2

In [101]:
formula = "Survived~" + "+".join(df_train.iloc[:, 1:].columns)
formula

'Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked'

In [102]:
from patsy import dmatrices

y, X = dmatrices(formula, df_train, return_type="dataframe")
y

     Survived
0         0.0
1         1.0
2         1.0
3         1.0
4         0.0
..        ...
885       0.0
886       0.0
887       1.0
889       1.0
890       0.0

[712 rows x 1 columns]

In [107]:
def get_vif(formula, df):
    from patsy import dmatrices
    y, X = dmatrices(formula, df, return_type="dataframe")
    vif = pd.DataFrame()
    
    from statsmodels.stats.outliers_influence import variance_inflation_factor
    
    vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    vif['features'] = X.columns
    
    return vif

formula = "Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked-1"
get_vif(formula, df_train)

   VIF Factor  features
0    5.974701    Pclass
1    3.034949       Sex
2    4.104924       Age
3    1.639080     SibSp
4    1.618650     Parch
5    1.655179      Fare
6    5.278139  Embarked

In [108]:
import statsmodels.formula.api as smf

model_titanic = smf.ols(formula=formula, data=df_train).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Survived   R-squared (uncentered):                   0.492
Model:                            OLS   Adj. R-squared (uncentered):              0.487
Method:                 Least Squares   F-statistic:                              97.61
Date:                Fri, 07 Oct 2022   Prob (F-statistic):                    2.24e-99
Time:                        16:20:05   Log-Likelihood:                         -446.83
No. Observations:                 712   AIC:                                      907.7
Df Residuals:                     705   BIC:                                      939.6
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass         0.1077      0.017      6.170      0.000       0.073       0.142
Sex           -0.4200      0.037    -11.264      0.000      -0.493      -0.347
Age            0.4450      0.084      5.274      0.000       0.279       0.611
SibSp         -0.0135      0.021     -0.655      0.513      -0.054       0.027
Parch         -0.0023      0.023     -0.102      0.919      -0.047       0.042
Fare           1.7641      0.178      9.908      0.000       1.415       2.114
Embarked       0.0705      0.022      3.190      0.001       0.027       0.114
==============================================================================
Omnibus:                       53.916   Durbin-Watson:                   1.855
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.943
Skew:                           0.430   Prob(JB):                     1.57e-08
Kurtosis:                       2.313   Cond. No.                         32.8
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

---

##### minmax_scale() 사용

In [51]:
from sklearn.preprocessing import minmax_scale

age_scaled = minmax_scale(df_train['Age'])
age_scaled

array([0.27117366, 0.4722292 , 0.32143755, 0.43453129, 0.43453129,
       0.67328474, 0.01985423, 0.33400352, 0.17064589, 0.04498618,
       0.72354863, 0.24604172, 0.48479517, 0.17064589, 0.68585072,
       0.01985423, 0.3842674 , 0.43453129, 0.42196532, 0.18321186,
       0.34656949, 0.09525006, 0.4722292 , 0.23347575, 0.49736115,
       0.8240764 , 0.34656949, 0.52249309, 0.25860769, 0.22090978,
       0.17064589, 0.49736115, 0.33400352, 0.03242021, 0.23347575,
       0.22090978, 0.08268409, 0.25860769, 0.61045489, 0.35913546,
       0.81151043, 0.25860769, 0.35285248, 0.05755215, 0.13294798,
       0.27117366, 0.560191  , 0.04498618, 0.35913546, 0.23347575,
       0.2083438 , 0.32143755, 0.39683338, 0.19577783, 0.25860769,
       0.32143755, 0.39683338, 0.30887158, 0.00515205, 0.37170143,
       0.27117366, 0.35913546, 0.34656949, 0.2083438 , 0.40939935,
       0.19577783, 0.28373963, 0.2963056 , 0.35913546, 0.24604172,
       0.57275697, 0.32143755, 0.7361146 , 0.88690626, 0.28373963,
       0.42196532, 0.42196532, 0.34656949, 0.25860769, 0.40939935,
       0.45966323, 0.34656949, 0.25860769, 0.4722292 , 0.58532295,
       0.17692888, 0.27117366, 0.24604172, 0.2083438 , 0.25860769,
       0.88062327, 0.35913546, 0.2963056 , 0.01985423, 0.25860769,
       0.40311636, 0.40311636, 0.67328474, 0.14551395, 0.2963056 ,
       0.560191  , 0.40939935, 0.24604172, 0.58532295, 0.35913546,
       0.30887158, 0.28373963, 0.23347575, 0.45966323, 0.19577783,
       0.2963056 , 0.27117366, 0.2963056 , 0.23347575, 0.22090978,
       0.23347575, 0.33400352, 0.10781603, 0.45338025, 0.52249309,
       0.63558683, 0.27117366, 0.6921337 , 0.50364413, 0.63558683,
       0.19577783, 0.37170143, 0.54762503, 0.49736115, 0.32143755,
       0.2083438 , 0.00728826, 0.10781603, 0.560191  , 0.34656949,
       0.76124654, 0.04498618, 0.00728826, 0.25860769, 0.69841669,
       0.22090978, 0.62302086, 0.37170143, 0.44709726, 0.10781603,
       0.00728826, 0.04498618, 0.560191  , 0.49736115, 0.44709726,
       0.39683338, 0.23347575, 0.23347575, 0.03242021, 0.54762503,
       0.72354863, 0.52249309, 0.2963056 , 0.34656949, 0.42196532,
       0.56647399, 0.22090978, 0.01985423, 0.39683338, 0.32143755,
       0.19577783, 0.49736115, 0.2963056 , 0.43453129, 0.27117366,
       0.37170143, 0.3842674 , 0.33400352, 0.52249309, 0.39683338,
       0.37170143, 0.19577783, 0.33400352, 0.63558683, 0.4722292 ,
       0.27117366, 0.23347575, 0.2523247 , 0.22090978, 0.43453129,
       0.35913546, 0.7361146 , 0.05755215, 0.2963056 , 0.54762503,
       0.09525006, 0.23347575, 0.40939935, 0.35913546, 0.27117366,
       0.37170143, 0.54762503, 0.30887158, 0.2963056 , 0.45966323,
       0.67328474, 0.35913546, 0.77381252, 0.37170143, 0.50992712,
       0.35913546, 0.37170143, 0.43453129, 0.62302086, 0.03242021,
       0.6481528 , 0.49736115, 0.44709726, 0.19577783, 0.30887158,
       0.72354863, 0.43453129, 0.30887158, 0.50992712, 0.45966323,
       0.78637849, 0.560191  , 0.08268409, 0.43453129, 0.81151043,
       0.34656949, 0.19577783, 0.23347575, 0.40939935, 0.37170143,
       0.27117366, 0.52249309, 0.27117366, 0.32143755, 0.23347575,
       0.44709726, 0.2963056 , 0.2963056 , 0.29002262, 0.01985423,
       0.62302086, 0.23347575, 0.00628299, 0.2083438 , 0.37170143,
       0.37170143, 0.2963056 , 0.22090978, 0.32143755, 0.34656949,
       0.53505906, 0.32143755, 0.2963056 , 0.67328474, 0.3842674 ,
       0.49736115, 0.27117366, 0.33400352, 0.37170143, 0.27117366,
       0.44709726, 0.76124654, 0.44709726, 0.3842674 , 0.19577783,
       0.56647399, 0.4722292 , 0.19577783, 0.35913546, 0.50992712,
       0.560191  , 0.560191  , 0.01985423, 0.2963056 , 0.34656949,
       0.30887158, 0.44709726, 0.2963056 , 0.49736115, 0.03242021,
       0.52249309, 0.28373963, 0.18321186, 0.30887158, 0.34656949,
       0.27117366, 0.4722292 , 0.49736115, 0.35913546, 0.560191  ,
       0.43453129, 0.37170143, 0.74868057, 0.2963056 , 0.30887158,
       0.22090978, 0.23347575, 0.27117366, 0.03242021, 0.27117366,
       0.33400352, 0.24604172, 0.23347575, 0.52249309, 0.00728826,
       0.39683338, 0.43453129, 0.22090978, 0.00728826, 0.44709726,
       0.2083438 , 0.44709726, 0.25860769, 0.34656949, 0.28373963,
       0.2963056 , 0.27117366, 0.3842674 , 0.57275697, 0.28373963,
       0.34656949, 0.48479517, 0.32143755, 0.25860769, 0.34656949,
       0.24604172, 0.42196532, 0.63558683, 0.03242021, 0.25860769,
       0.40939935, 0.54762503, 0.42196532, 0.22090978, 0.37170143,
       0.12038201, 0.25860769, 0.35913546, 0.34656949, 0.22090978,
       0.34656949, 0.23347575, 0.39683338, 0.34656949, 0.52249309,
       0.2083438 , 0.62302086, 0.17064589, 0.25860769, 0.2963056 ,
       0.79894446, 0.3842674 , 0.560191  , 0.24604172, 0.30887158,
       0.34656949, 0.04498618, 0.15807992, 0.42196532, 0.05755215,
       0.6481528 , 0.44709726, 0.37170143, 0.61045489, 0.35913546,
       0.81151043, 0.62302086, 0.59788892, 0.42196532, 0.58532295,
       0.59788892, 0.4722292 , 0.69841669, 0.00414677, 0.4722292 ,
       0.40939935, 0.28373963, 0.27117366, 0.42196532, 0.35913546,
       0.27117366, 0.01985423, 0.10781603, 0.62302086, 0.78637849,
       0.30887158, 0.43453129, 0.72354863, 0.37170143, 0.10781603,
       0.25860769, 0.68585072, 0.88690626, 0.25860769, 0.67328474,
       0.30887158, 0.2963056 , 0.2083438 , 0.25860769, 0.45966323,
       0.19577783, 0.22090978, 0.40939935, 0.34656949, 0.32143755,
       0.35913546, 0.44709726, 0.67328474, 0.2963056 , 0.58532295,
       0.42196532, 0.44709726, 0.39683338, 0.37170143, 0.27117366,
       0.54762503, 0.50364413, 0.62302086, 0.48479517, 0.28373963,
       0.01985423, 0.2083438 , 0.37170143, 0.08268409, 0.560191  ,
       0.37170143, 0.27117366, 0.44709726, 0.10781603, 0.13294798,
       0.39683338, 0.62302086, 0.79894446, 0.23347575, 0.40939935,
       0.09525006, 0.2083438 , 0.33400352, 0.27117366, 0.27117366,
       0.77381252, 0.59788892, 0.48479517, 0.44709726, 0.49736115,
       0.34656949, 0.2963056 , 0.23347575, 0.35913546, 0.39683338,
       0.77381252, 0.66071877, 0.44709726, 0.19577783, 0.23347575,
       0.42196532, 0.48479517, 0.39683338, 0.30887158, 0.48479517,
       0.67328474, 0.44709726, 0.22090978, 0.58532295, 0.74868057,
       0.27117366, 0.43453129, 0.6481528 , 0.58532295, 0.45966323,
       0.44709726, 0.61045489, 0.61045489, 0.2963056 , 0.54762503,
       0.43453129, 0.44709726, 0.37170143, 0.33400352, 0.27117366,
       0.49736115, 0.48479517, 0.43453129, 0.2963056 , 0.42196532,
       0.32143755, 0.04498618, 0.32143755, 0.33400352, 0.52249309,
       0.24604172, 0.25860769, 0.25860769, 0.76124654, 0.71098266,
       0.25860769, 0.32143755, 1.        , 0.63558683, 0.39683338,
       0.10781603, 0.34656949, 0.39683338, 0.3842674 , 0.50992712,
       0.24604172, 0.2963056 , 0.01985423, 0.00414677, 0.59788892,
       0.23347575, 0.69841669, 0.28373963, 0.22090978, 0.25860769,
       0.22090978, 0.2963056 , 0.39683338, 0.28373963, 0.72354863,
       0.62302086, 0.49736115, 0.58532295, 0.44709726, 0.24604172,
       0.39683338, 0.30887158, 0.53505906, 0.49736115, 0.3842674 ,
       0.87434029, 0.3842674 , 0.22090978, 0.30258859, 0.22090978,
       0.53505906, 0.44709726, 0.33400352, 0.24604172, 0.17064589,
       0.74868057, 0.30887158, 0.17064589, 0.23347575, 0.22090978,
       0.18321186, 0.3842674 , 0.04498618, 0.30887158, 0.74868057,
       0.6481528 , 0.54762503, 0.61045489, 0.52249309, 0.22090978,
       0.43453129, 0.22090978, 0.30887158, 0.32143755, 0.48479517,
       0.560191  , 0.52249309, 0.27117366, 0.2963056 , 0.59788892,
       0.35913546, 0.6481528 , 0.23347575, 0.4722292 , 0.33400352,
       0.40939935, 0.07011812, 0.2083438 , 0.42196532, 0.62302086,
       0.33400352, 0.24604172, 0.37170143, 0.30887158, 0.30887158,
       0.35913546, 0.13294798, 0.28373963, 0.28373963, 0.35285248,
       0.59788892, 0.43453129, 0.44709726, 0.25860769, 0.2963056 ,
       0.3842674 , 0.87434029, 0.19577783, 0.37170143, 0.23347575,
       0.3842674 , 0.04498618, 0.07011812, 0.40939935, 0.28373963,
       0.59788892, 0.00314149, 0.34656949, 0.22090978, 0.42196532,
       0.40939935, 0.50992712, 0.24604172, 0.44709726, 0.19577783,
       0.63558683, 0.37798442, 0.39683338, 0.2963056 , 0.59788892,
       0.71098266, 0.67328474, 0.22090978, 0.05755215, 0.53505906,
       0.15807992, 0.2083438 , 0.35913546, 0.30887158, 0.30887158,
       0.22090978, 0.09525006, 0.00728826, 0.57275697, 0.19577783,
       0.30887158, 0.48479517, 0.61045489, 0.3842674 , 0.37170143,
       0.37170143, 0.42196532, 0.3842674 , 0.13294798, 0.        ,
       0.33400352, 0.3842674 , 0.48479517, 0.22090978, 0.48479517,
       0.40939935, 0.32143755, 0.48479517, 0.43453129, 0.07011812,
       0.37798442, 0.28373963, 0.3842674 , 0.53505906, 0.12038201,
       0.6481528 , 0.33400352, 0.4722292 , 0.33400352, 0.01985423,
       0.00728826, 0.18321186, 0.00515205, 0.28373963, 0.22090978,
       0.48479517, 0.25860769, 0.39683338, 0.24604172, 0.19577783,
       0.37170143, 0.4282483 , 0.2083438 , 0.52249309, 0.43453129,
       0.34656949, 0.04498618, 0.92460417, 0.10781603, 0.19577783,
       0.54762503, 0.22090978, 0.560191  , 0.63558683, 0.2963056 ,
       0.50992712, 0.25860769, 0.59788892, 0.2963056 , 0.52249309,
       0.33400352, 0.3842674 , 0.04498618, 0.32143755, 0.58532295,
       0.40939935, 0.58532295, 0.34656949, 0.18321186, 0.24604172,
       0.23347575, 0.69841669, 0.30887158, 0.40939935, 0.27117366,
       0.34656949, 0.30887158, 0.48479517, 0.33400352, 0.23347575,
       0.32143755, 0.39683338])

In [53]:
df_train['Age'] = age_scaled
df_train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch     Fare  Embarked
0         0       3    1  0.271174      1      0   7.2500         2
1         1       1    0  0.472229      1      0  71.2833         0
2         1       3    0  0.321438      0      0   7.9250         2
3         1       1    0  0.434531      1      0  53.1000         2
4         0       3    1  0.434531      0      0   8.0500         2

In [54]:
fare_scaled = minmax_scale(df_train['Fare'])
fare_scaled

array([0.01415106, 0.13913574, 0.01546857, 0.1036443 , 0.01571255,
       0.10122886, 0.04113566, 0.02173075, 0.05869429, 0.03259623,
       0.05182215, 0.01571255, 0.06104473, 0.01533038, 0.03122992,
       0.05684821, 0.03513366, 0.05074862, 0.02537431, 0.01567195,
       0.06929139, 0.04113566, 0.06126432, 0.51334181, 0.0541074 ,
       0.02049464, 0.16038672, 0.10149724, 0.01571255, 0.03513366,
       0.02194234, 0.01849397, 0.04098927, 0.08115719, 0.01537917,
       0.03474329, 0.07746484, 0.01522459, 0.14976542, 0.05074862,
       0.12097534, 0.02049464, 0.01411046, 0.05416439, 0.0915427 ,
       0.01411046, 0.16293235, 0.05445717, 0.02049464, 0.01592394,
       0.01546857, 0.01690807, 0.02049464, 0.0915427 , 0.14346245,
       0.02821272, 0.11027246, 0.01493181, 0.05660423, 0.02434958,
       0.01756683, 0.01854277, 0.09193308, 0.02049464, 0.03093714,
       0.06709553, 0.51334181, 0.01571255, 0.01571255, 0.01533038,
       0.11940565, 0.04015973, 0.01415106, 0.06764049, 0.12366717,
       0.04489301, 0.05074862, 0.01541158, 0.15085515, 0.01689187,
       0.01546857, 0.01541158, 0.01493181, 0.01541158, 0.10149724,
       0.02821272, 0.01571255, 0.01917712, 0.02822072, 0.01546857,
       0.01512699, 0.04098927, 0.48312843, 0.06104473, 0.14346245,
       0.05869429, 0.02537431, 0.15085515, 0.02194234, 0.01393967,
       0.01361429, 0.01541158, 0.01376068, 0.02830212, 0.05074862,
       0.02537431, 0.02936745, 0.05130158, 0.1036443 , 0.0179898 ,
       0.1545881 , 0.01512699, 0.03093714, 0.01317512, 0.02244651,
       0.07173122, 0.01521639, 0.06709553, 0.05074862, 0.02537431,
       0.02444717, 0.12999454, 0.01571255, 0.02830212, 0.11980422,
       0.0150944 , 0.01571255, 0.03142511, 0.03074195, 0.01517579,
       0.01690807, 0.07746484, 0.04006213, 0.05445717, 0.11027246,
       0.06538765, 0.05684821, 0.02173075, 0.01546857, 0.05991421,
       0.01533038, 0.05604307, 0.02537431, 0.        , 0.06126432,
       0.07612293, 0.04298994, 0.05182215, 0.03025399, 0.01541158,
       0.02537431, 0.02537431, 0.01533038, 0.05074862, 0.0541074 ,
       0.28598956, 0.01640391, 0.02537431, 0.01854277, 0.01267896,
       0.01410226, 0.01571255, 0.02042144, 0.03093714, 0.03667076,
       0.01512699, 0.06050797, 0.01376068, 0.04098927, 0.01415106,
       0.02537431, 0.22109808, 0.01546857, 0.05270049, 0.14891148,
       0.02049464, 0.01571255, 0.02537431, 0.01571255, 0.1756683 ,
       0.01824998, 0.02049464, 0.01415106, 0.02537431, 0.16293235,
       0.01517579, 0.02635025, 0.06126432, 0.02049464, 0.05074862,
       0.05123659, 0.02049464, 0.0239592 , 0.02049464, 0.01390707,
       0.01410226, 0.1756683 , 0.01517579, 0.02830212, 0.10257897,
       0.05074862, 0.02042144, 0.05182215, 0.03142511, 0.03945217,
       0.02975782, 0.16883676, 1.        , 0.05074862, 0.06126432,
       0.15546645, 0.        , 0.02049464, 0.07746484, 0.01517579,
       0.29953885, 0.26473857, 0.        , 0.03806147, 0.05797054,
       0.15216447, 0.01512699, 0.05684821, 0.03952537, 0.01512699,
       0.01533038, 0.01854277, 0.01571255, 0.01690807, 0.01854277,
       0.01541158, 0.02537431, 0.01512699, 0.15390495, 0.17777476,
       0.02513033, 0.01727405, 0.01541158, 0.01411046, 0.2958059 ,
       0.48312843, 0.        , 0.2958059 , 0.21255864, 0.04684488,
       0.1111184 , 0.16231419, 0.51212189, 0.05074862, 0.01541158,
       0.05123659, 0.01533038, 0.05074862, 0.02732618, 0.32179837,
       0.26252652, 0.01415106, 0.01541158, 0.02410559, 0.05660423,
       0.26473857, 0.01217479, 0.02537431, 0.04006213, 0.11316786,
       0.0556283 , 0.29953885, 0.03513366, 0.12999454, 0.26252652,
       0.01571255, 0.06929139, 0.05074862, 0.51334181, 0.02537431,
       0.02537431, 0.02537431, 0.02537431, 0.02537431, 0.03103473,
       0.01690807, 0.018006  , 0.01411046, 0.03474329, 0.01854277,
       0.10735285, 0.02537431, 0.05445717, 0.0541074 , 0.02821272,
       0.01376068, 0.01415106, 0.14687822, 0.13526459, 0.10821499,
       0.01267896, 0.01571255, 0.26473857, 0.04113566, 0.01415106,
       0.41282051, 0.00783188, 0.01517579, 0.44409922, 0.03072575,
       0.01546857, 0.10149724, 0.14346245, 0.0915427 , 0.02537431,
       0.02342244, 0.2342244 , 0.01521639, 0.01546857, 0.22109808,
       0.03259623, 0.01521639, 0.01533038, 0.05074862, 0.02049464,
       0.02469116, 0.01546857, 0.01571255, 0.01917712, 0.03093714,
       0.01690807, 0.04098927, 0.01512699, 0.03659756, 0.01517579,
       0.1756683 , 0.01546857, 0.06343578, 0.02537431, 0.02537431,
       0.04713766, 0.0150944 , 0.01537098, 0.02810693, 0.03945217,
       0.05074862, 0.05074862, 0.01571255, 0.05182215, 0.05074862,
       0.01390707, 0.10910953, 0.2342244 , 0.06709553, 0.03659756,
       0.51334181, 0.02049464, 0.05123659, 0.01854277, 0.01517579,
       0.02537431, 0.15977676, 0.03806147, 0.05182215, 0.0375897 ,
       0.05953204, 0.05416439, 0.05416439, 0.17391982, 0.01541158,
       0.05182215, 0.02049464, 0.05182215, 0.01571255, 0.075147  ,
       0.02537431, 0.01376068, 0.05182215, 0.0375897 , 0.01690807,
       0.05416439, 0.02691961, 0.01920152, 0.04098927, 0.01375249,
       0.01467962, 0.0239836 , 0.0915427 , 0.01571255, 0.01871355,
       0.17777476, 0.1756683 , 0.05797054, 0.01571255, 0.03103473,
       0.01415106, 0.05953204, 0.09662576, 0.01571255, 0.15276642,
       0.2958059 , 0.01521639, 0.01690807, 0.01512699, 0.01871355,
       0.16883676, 0.21255864, 0.05074862, 0.04396587, 0.11027246,
       0.01512699, 0.05130978, 0.11594108, 0.01463083, 0.06640418,
       0.02049464, 0.05074862, 0.01541158, 0.18249985, 0.01541158,
       0.11316786, 0.01512699, 0.02049464, 0.01546857, 0.02244651,
       0.05074862, 0.01411046, 0.01690807, 0.05123659, 0.05182215,
       0.20772777, 0.09661757, 0.13858277, 0.06104473, 0.06104473,
       0.05074862, 0.20772777, 0.05074862, 0.05074862, 0.04006213,
       0.07173122, 0.21642979, 0.05074862, 0.01410226, 0.01517579,
       0.05182215, 0.07729405, 0.15546645, 0.03396254, 0.01541158,
       0.02635025, 0.04713766, 0.01541158, 0.04113566, 0.01533038,
       0.02049464, 0.10048071, 0.05150497, 0.01571255, 0.02830212,
       0.02537431, 0.10910953, 0.01546857, 0.0585561 , 0.21642979,
       0.05074862, 0.07831878, 0.15546645, 0.02927805, 0.1545881 ,
       0.01571255, 0.01390707, 0.15276642, 0.01415106, 0.05074862,
       0.04713766, 0.        , 0.1111184 , 0.05270049, 0.01571255,
       0.05182215, 0.03035158, 0.01541158, 0.05953204, 0.08115719,
       0.29953885, 0.06104473, 0.01571255, 0.12687155, 0.02810693,
       0.03142511, 0.07612293, 0.02049464, 0.02821272, 0.10257897,
       0.03072575, 0.01533038, 0.03142511, 0.063086  , 0.02410559,
       0.15216447, 0.01541158, 0.0585561 , 0.01376888, 0.05953204,
       0.05445717, 0.02537431, 0.01546857, 0.05123659, 0.07746484,
       0.01533038, 0.13526459, 0.05445717, 0.0375897 , 0.14976542,
       0.01541158, 0.06929139, 0.01473662, 0.04489301, 0.01646071,
       0.01317512, 0.14346245, 0.03025399, 0.02537431, 0.22109808,
       0.26086743, 0.01410226, 0.04994347, 0.01463083, 0.01546857,
       0.14346245, 0.02537431, 0.01571255, 0.07612293, 0.10149724,
       0.02049464, 0.02537431, 0.01517579, 0.01571255, 0.01920972,
       0.0915427 , 1.        , 0.14976542, 0.018006  , 0.0915427 ,
       0.07612293, 0.08115719, 0.07746484, 0.01985208, 0.01521639,
       0.41250333, 0.11125659, 0.02618765, 0.01410226, 0.05182215,
       0.02635025, 0.01571255, 0.21642979, 0.01493181, 0.44409922,
       0.05130978, 0.02821272, 0.01511079, 0.01533038, 0.05074862,
       0.02635025, 0.05130978, 0.2958059 , 0.09662576, 0.10149724,
       0.01851017, 0.02537431, 0.01493181, 0.44409922, 0.02049464,
       0.01517579, 0.06441171, 0.01376888, 0.02537431, 0.02537431,
       0.1036443 , 0.01690807, 0.04098927, 0.05074862, 0.01546857,
       0.41250333, 0.03667076, 0.02537431, 0.02537431, 0.03142511,
       0.06709553, 1.        , 0.15390495, 0.51212189, 0.03142511,
       0.01546857, 0.13858277, 0.03952537, 0.02537431, 0.1036443 ,
       0.01512699, 0.04489301, 0.02434958, 0.01854277, 0.01541158,
       0.12687155, 0.02830212, 0.01521639, 0.02244651, 0.01571255,
       0.16883676, 0.01390707, 0.01411046, 0.2342244 , 0.01517579,
       0.15216447, 0.01512699, 0.01632251, 0.01854277, 0.01533038,
       0.02049464, 0.04489301, 0.01512699, 0.02434958, 0.41250333,
       0.01411046, 0.11125659, 0.0585561 , 0.01376068, 0.01415106,
       0.01463083, 0.05684821, 0.04015973, 0.1545881 , 0.05074862,
       0.01541158, 0.02537431, 0.05061043, 0.01694867, 0.01411046,
       0.04713766, 0.02537431, 0.05123659, 0.2342244 , 0.01662349,
       0.01361429, 0.01517579, 0.        , 0.01517579, 0.02537431,
       0.1036443 , 0.01539537, 0.04713766, 0.02049464, 0.06104473,
       0.01571255, 0.01546857, 0.07222739, 0.01258956, 0.05445717,
       0.18249985, 0.01690807, 0.        , 0.02434958, 0.07746484,
       0.07222739, 0.02821272, 0.03659756, 0.01533038, 0.01620052,
       0.16231419, 0.01690807, 0.11027246, 0.01546857, 0.02049464,
       0.06050797, 0.01256516, 0.01690807, 0.01473662, 0.01541158,
       0.06441171, 0.06104473, 0.01517579, 0.02975782, 0.07690368,
       0.05074862, 0.01824998, 0.32179837, 0.05182215, 0.0375897 ,
       0.02753757, 0.02244651, 0.05061043, 0.02537431, 0.02537431,
       0.0270496 , 0.09856124, 0.02173075, 0.01541158, 0.10257897,
       0.00975935, 0.01756683, 0.04684488, 0.01410226, 0.01921772,
       0.01541158, 0.16231419, 0.05074862, 0.01541158, 0.02052723,
       0.02049464, 0.01376068, 0.05684821, 0.02537431, 0.0585561 ,
       0.0585561 , 0.01512699])

In [56]:
df_train['Fare'] = fare_scaled
df_train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0       3    1  0.271174      1      0  0.014151         2
1         1       1    0  0.472229      1      0  0.139136         0
2         1       3    0  0.321438      0      0  0.015469         2
3         1       1    0  0.434531      1      0  0.103644         2
4         0       3    1  0.434531      0      0  0.015713         2

In [57]:
formula = "Survived~" + "+".join(df_train.iloc[:, 1:].columns)
formula

'Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked'

In [59]:
from patsy import dmatrices

y, X = dmatrices(formula, df_train, return_type="dataframe")
y

     Survived
0         0.0
1         1.0
2         1.0
3         1.0
4         0.0
..        ...
885       0.0
886       0.0
887       1.0
889       1.0
890       0.0

[712 rows x 1 columns]

In [60]:
X

     Intercept  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0          1.0     3.0  1.0  0.271174    1.0    0.0  0.014151       2.0
1          1.0     1.0  0.0  0.472229    1.0    0.0  0.139136       0.0
2          1.0     3.0  0.0  0.321438    0.0    0.0  0.015469       2.0
3          1.0     1.0  0.0  0.434531    1.0    0.0  0.103644       2.0
4          1.0     3.0  1.0  0.434531    0.0    0.0  0.015713       2.0
..         ...     ...  ...       ...    ...    ...       ...       ...
885        1.0     3.0  0.0  0.484795    0.0    5.0  0.056848       1.0
886        1.0     2.0  1.0  0.334004    0.0    0.0  0.025374       2.0
887        1.0     1.0  0.0  0.233476    0.0    0.0  0.058556       2.0
889        1.0     1.0  1.0  0.321438    0.0    0.0  0.058556       0.0
890        1.0     3.0  1.0  0.396833    0.0    0.0  0.015127       1.0

[712 rows x 8 columns]

In [61]:
vif = pd.DataFrame()

In [62]:
X.shape[1]

8

In [63]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif

   VIF Factor   features
0   32.134512  Intercept
1    1.749120     Pclass
2    1.119651        Sex
3    1.310796        Age
4    1.276469      SibSp
5    1.288619      Parch
6    1.641348       Fare
7    1.114880   Embarked

In [65]:
def get_vif(formula, df):
    y, X = dmatrices(formula, df, return_type="dataframe")
    vif = pd.DataFrame()
    
    vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    vif['features'] = X.columns
    
    return vif

formula = "Survived~" + "+".join(df_train.iloc[:, 1:].columns) + '-1'
print(formula)
get_vif(formula, df_train)

Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked-1

   VIF Factor  features
0    5.974701    Pclass
1    3.034949       Sex
2    4.104924       Age
3    1.639080     SibSp
4    1.618650     Parch
5    1.655179      Fare
6    5.278139  Embarked

In [68]:
import statsmodels.formula.api as smf

model_titanic = smf.ols(formula=formula, data=df_train).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Survived   R-squared (uncentered):                   0.492
Model:                            OLS   Adj. R-squared (uncentered):              0.487
Method:                 Least Squares   F-statistic:                              97.61
Date:                Fri, 07 Oct 2022   Prob (F-statistic):                    2.24e-99
Time:                        15:22:11   Log-Likelihood:                         -446.83
No. Observations:                 712   AIC:                                      907.7
Df Residuals:                     705   BIC:                                      939.6
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass         0.1077      0.017      6.170      0.000       0.073       0.142
Sex           -0.4200      0.037    -11.264      0.000      -0.493      -0.347
Age            0.4450      0.084      5.274      0.000       0.279       0.611
SibSp         -0.0135      0.021     -0.655      0.513      -0.054       0.027
Parch         -0.0023      0.023     -0.102      0.919      -0.047       0.042
Fare           1.7641      0.178      9.908      0.000       1.415       2.114
Embarked       0.0705      0.022      3.190      0.001       0.027       0.114
==============================================================================
Omnibus:                       53.916   Durbin-Watson:                   1.855
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.943
Skew:                           0.430   Prob(JB):                     1.57e-08
Kurtosis:                       2.313   Cond. No.                         32.8
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

---

## Answer

In [87]:
df = pd.read_csv("../2_DataAnalysis/titanic/train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

##### Passengerid, Name, Ticket, Cabin 컬럼 삭제

In [88]:
df2 = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df2

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

##### NaN 데이터 삭제✨

In [89]:
df2 = df2.dropna(axis=0).copy()
df2

# dropna() 축방향에다라 NaN 데이터 삭제
# copy()는 복사를 위해 사용 => inplace=True를 사용해도 됨

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
885         0       3  female  39.0      0      5  29.1250        Q
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[712 rows x 8 columns]

##### 기존 인덱스 재정렬

In [90]:
df2.reset_index(drop=True, inplace=True)
df2

# 기존 인덱스를 삭제 후 재정비

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
707         0       3  female  39.0      0      5  29.1250        Q
708         0       2    male  27.0      0      0  13.0000        S
709         1       1  female  19.0      0      0  30.0000        S
710         1       1    male  26.0      0      0  30.0000        C
711         0       3    male  32.0      0      0   7.7500        Q

[712 rows x 8 columns]

##### Sex, Embarked는 레이블 인코딩

In [91]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df2_Sex = le.fit_transform(df2['Sex'])
df2['Sex'] = df2_Sex
df2.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    1  22.0      1      0   7.2500        S
1         1       1    0  38.0      1      0  71.2833        C
2         1       3    0  26.0      0      0   7.9250        S
3         1       1    0  35.0      1      0  53.1000        S
4         0       3    1  35.0      0      0   8.0500        S

In [92]:
le = LabelEncoder()
df2_Embarked = le.fit_transform(df2['Embarked'])
df2['Embarked'] = df2_Embarked
df2.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

##### Age, Fare는 MinMaxScaler로 전처리

In [93]:
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()
mm_Age = mm.fit_transform(df2[['Age']])
df2['Age'] = mm_Age

mm_Fare = mm.fit_transform(df2[['Fare']])
df2['Fare'] = mm_Fare
df2.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0       3    1  0.271174      1      0  0.014151         2
1         1       1    0  0.472229      1      0  0.139136         0
2         1       3    0  0.321438      0      0  0.015469         2
3         1       1    0  0.434531      1      0  0.103644         2
4         0       3    1  0.434531      0      0  0.015713         2

In [100]:
import statsmodels.formula.api as smf

model_titanic = smf.ols(formula="Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked", data=df2).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.400
Model:                            OLS   Adj. R-squared:                  0.394
Method:                 Least Squares   F-statistic:                     67.16
Date:                Fri, 07 Oct 2022   Prob (F-statistic):           4.63e-74
Time:                        16:13:45   Log-Likelihood:                -321.43
No. Observations:                 712   AIC:                             658.9
Df Residuals:                     704   BIC:                             695.4
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.3999      0.081     17.241      0.000       1.240       1.559
Pclass        -0.1903      0.023     -8.403      0.000      -0.235      -0.146
Sex           -0.4842      0.032    -15.368      0.000      -0.546      -0.422
Age           -0.5158      0.090     -5.724      0.000      -0.693      -0.339
SibSp         -0.0519      0.017     -2.982      0.003      -0.086      -0.018
Parch         -0.0102      0.019     -0.535      0.593      -0.048       0.027
Fare           0.1047      0.178      0.589      0.556      -0.244       0.454
Embarked      -0.0298      0.019     -1.535      0.125      -0.068       0.008
==============================================================================
Omnibus:                       25.995   Durbin-Watson:                   1.848
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               28.157
Skew:                           0.487   Prob(JB):                     7.69e-07
Kurtosis:                       3.027   Cond. No.                         41.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [103]:
def get_vif(formula, df):
    from patsy import dmatrices
    y, X = dmatrices(formula, df, return_type="dataframe")
    vif = pd.DataFrame()
    
    from statsmodels.stats.outliers_influence import variance_inflation_factor
    
    vif['VIF Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    vif['features'] = X.columns
    
    return vif

formula = "Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked"
get_vif(formula, df2)

   VIF Factor   features
0   32.134512  Intercept
1    1.749120     Pclass
2    1.119651        Sex
3    1.310796        Age
4    1.276469      SibSp
5    1.288619      Parch
6    1.641348       Fare
7    1.114880   Embarked

In [104]:
formula = "Survived~Pclass+Sex+Age+SibSp+Parch+Fare+Embarked-1"
get_vif(formula, df2)

   VIF Factor  features
0    5.974701    Pclass
1    3.034949       Sex
2    4.104924       Age
3    1.639080     SibSp
4    1.618650     Parch
5    1.655179      Fare
6    5.278139  Embarked

In [105]:
import statsmodels.formula.api as smf

model_titanic = smf.ols(formula=formula, data=df2).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Survived   R-squared (uncentered):                   0.492
Model:                            OLS   Adj. R-squared (uncentered):              0.487
Method:                 Least Squares   F-statistic:                              97.61
Date:                Fri, 07 Oct 2022   Prob (F-statistic):                    2.24e-99
Time:                        16:18:02   Log-Likelihood:                         -446.83
No. Observations:                 712   AIC:                                      907.7
Df Residuals:                     705   BIC:                                      939.6
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass         0.1077      0.017      6.170      0.000       0.073       0.142
Sex           -0.4200      0.037    -11.264      0.000      -0.493      -0.347
Age            0.4450      0.084      5.274      0.000       0.279       0.611
SibSp         -0.0135      0.021     -0.655      0.513      -0.054       0.027
Parch         -0.0023      0.023     -0.102      0.919      -0.047       0.042
Fare           1.7641      0.178      9.908      0.000       1.415       2.114
Embarked       0.0705      0.022      3.190      0.001       0.027       0.114
==============================================================================
Omnibus:                       53.916   Durbin-Watson:                   1.855
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.943
Skew:                           0.430   Prob(JB):                     1.57e-08
Kurtosis:                       2.313   Cond. No.                         32.8
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

// Pclass 제거

In [109]:
formula = "Survived~Sex+Age+SibSp+Parch+Fare+Embarked-1"
get_vif(formula, df2)

   VIF Factor  features
0    2.675597       Sex
1    3.877448       Age
2    1.584801     SibSp
3    1.560473     Parch
4    1.590987      Fare
5    3.798865  Embarked

In [110]:
model_titanic = smf.ols(formula=formula, data=df2).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Survived   R-squared (uncentered):                   0.465
Model:                            OLS   Adj. R-squared (uncentered):              0.460
Method:                 Least Squares   F-statistic:                              102.2
Date:                Fri, 07 Oct 2022   Prob (F-statistic):                    2.07e-92
Time:                        16:21:31   Log-Likelihood:                         -465.56
No. Observations:                 712   AIC:                                      943.1
Df Residuals:                     706   BIC:                                      970.5
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Sex           -0.3408      0.036     -9.490      0.000      -0.411      -0.270
Age            0.5676      0.084      6.746      0.000       0.402       0.733
SibSp          0.0096      0.021      0.464      0.643      -0.031       0.050
Parch          0.0242      0.023      1.060      0.290      -0.021       0.069
Fare           1.5477      0.179      8.643      0.000       1.196       1.899
Embarked       0.1426      0.019      7.418      0.000       0.105       0.180
==============================================================================
Omnibus:                       53.750   Durbin-Watson:                   1.828
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.971
Skew:                           0.443   Prob(JB):                     9.37e-09
Kurtosis:                       2.322   Cond. No.                         21.3
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

// Embarked 제거

In [111]:
formula = "Survived~Pclass+Sex+Age+SibSp+Parch+Fare-1"
get_vif(formula, df2)

   VIF Factor features
0    4.300205   Pclass
1    3.000988      Sex
2    3.693369      Age
3    1.623351    SibSp
4    1.611396    Parch
5    1.653274     Fare

In [112]:
model_titanic = smf.ols(formula=formula, data=df2).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Survived   R-squared (uncentered):                   0.485
Model:                            OLS   Adj. R-squared (uncentered):              0.480
Method:                 Least Squares   F-statistic:                              110.7
Date:                Fri, 07 Oct 2022   Prob (F-statistic):                    3.07e-98
Time:                        16:22:18   Log-Likelihood:                         -451.93
No. Observations:                 712   AIC:                                      915.9
Df Residuals:                     706   BIC:                                      943.3
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass         0.1371      0.015      9.204      0.000       0.108       0.166
Sex           -0.4074      0.037    -10.918      0.000      -0.481      -0.334
Age            0.5302      0.081      6.582      0.000       0.372       0.688
SibSp         -0.0070      0.021     -0.342      0.733      -0.047       0.033
Parch          0.0025      0.023      0.111      0.912      -0.042       0.047
Fare           1.7448      0.179      9.743      0.000       1.393       2.096
==============================================================================
Omnibus:                       58.079   Durbin-Watson:                   1.863
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.366
Skew:                           0.410   Prob(JB):                     2.09e-08
Kurtosis:                       2.279   Cond. No.                         27.7
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

// Parch 제거

In [113]:
formula = "Survived~Pclass+Sex+Age+SibSp+Fare+Embarked-1"
get_vif(formula, df2)

   VIF Factor  features
0    5.759959    Pclass
1    2.900885       Sex
2    4.098022       Age
3    1.475999     SibSp
4    1.558949      Fare
5    5.254486  Embarked

In [114]:
model_titanic = smf.ols(formula=formula, data=df2).fit()
model_titanic.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Survived   R-squared (uncentered):                   0.492
Model:                            OLS   Adj. R-squared (uncentered):              0.488
Method:                 Least Squares   F-statistic:                              114.0
Date:                Fri, 07 Oct 2022   Prob (F-statistic):                   2.02e-100
Time:                        16:22:51   Log-Likelihood:                         -446.84
No. Observations:                 712   AIC:                                      905.7
Df Residuals:                     706   BIC:                                      933.1
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass         0.1073      0.017      6.269      0.000       0.074       0.141
Sex           -0.4191      0.036    -11.508      0.000      -0.491      -0.348
Age            0.4454      0.084      5.286      0.000       0.280       0.611
SibSp         -0.0141      0.020     -0.724      0.469      -0.052       0.024
Fare           1.7597      0.173     10.191      0.000       1.421       2.099
Embarked       0.0703      0.022      3.192      0.001       0.027       0.114
==============================================================================
Omnibus:                       53.578   Durbin-Watson:                   1.854
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.630
Skew:                           0.427   Prob(JB):                     1.83e-08
Kurtosis:                       2.314   Cond. No.                         31.5
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""